<h3 class="col-sm-offset-2" view-title>New Announcement</h3>
<form class="form-horizontal" role="form" ng-submit="createNews()" ng-cloak>
    <div class="form-group">
        <label for="news-title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="news-title" ng-model="news.title" placeholder="Title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="news-body" class="col-sm-2 control-label">Body</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="news-body" ng-model="news.body" rows="6" placeholder="Content..." required></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-default">Create Announcement</button>
        </div>
    </div>
</form>
