<div class="container">
    <view-title>Edit Result</view-title>
    <div class="panel panel-body">
        <div class="row">
            <h5 class="text-center">
                <span class="text-muted">Age</span> <strong>{{result.competition.name}}</strong>&nbsp;|
                <span class="text-muted">Section</span> <strong>{{result.competition.section}}</strong>&nbsp;|
                <span ng-show="result.competition.group"><span class="text-muted">Group</span> <strong>{{result.competition.group}}</strong>&nbsp;|</span>
                <span class="text-muted">Match</span> <strong>{{result.tag}}</strong>&nbsp;|
                <span class="text-muted">Pitch</span> <strong>{{result.pitch}}</strong>
            </h5>
        </div>

        <div class="row">
            <div class="col-md-1 text-right">
                <button id="subHomeGoal" class="btn btn-danger btn-lg btn-goals" ng-click="addGoal(true, -1)"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="col-md-1 text-right">
                <button id="addHomeGoal" class="btn btn-success btn-lg btn-goals" ng-click="addGoal(true, 1)"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
            <div class="col-md-3">
                <input ng-show="userHasRole('editor')" class="form-control input-lg borderless text-center" ng-model="result.homeTeam">
                <div ng-hide="userHasRole('editor')" class="text-center"><h2>{{result.homeTeam}}</h2></div>
            </div>
            <div class="col-md-2 text-center">
                <div class="points" style="width: 100%; font-size: 31px">
                    {{result.homeGoals}} <span ng-show="result.homePens||result.awayPens">({{result.homePens}})</span>
                    -
                    <span ng-show="result.homePens||result.awayPens">({{result.awayPens}})</span> {{result.awayGoals}}
                </div>
            </div>
            <div class="col-md-3">
                <div ng-hide="userHasRole('editor')" class="text-center"><h2>{{result.awayTeam}}</h2></div>
                <input ng-show="userHasRole('editor')" class="form-control input-lg borderless text-center" ng-model="result.awayTeam">
            </div>
            <div class="col-md-1">
                <button id="addAwayGoal" class="btn btn-success btn-lg btn-goals" ng-click="addGoal(false, 1)"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
            <div class="col-md-1">
                <button id="subAwayGoal" class="btn btn-danger btn-lg btn-goals" ng-click="addGoal(false, -1)"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 centered-pills">
                <ul class="nav nav-pills" ng-hide="result.competition.group">
                    <li role="presentation" ng-class="{'active': goalEntry == true}"><a ng-click="goalEntry=true">Goals</a></li>
                    <li role="presentation" ng-class="{'active': goalEntry == false}"><a ng-click="goalEntry=false">Pens</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-5 col-md-2 text-center">
                <button ng-click="updateResult(result)" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-save-file"></span> SAVE RESULT</button>
                <button ng-show="userHasRole('admin')" ng-click="deleteResult(result)" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-trash"></span> DELETE RESULT</button>
            </div>
        </div>
    </div>
</div>
