<view-title>Scorecards</view-title>

<h2 class="no-print">
    <span>Select Tournament Day: </span>
    <a class="btn btn-default" ng-class="{active: dayToView == 1}" ng-click="dayToView = 1">1</a>
    <a class="btn btn-default" ng-class="{active: dayToView == 2}" ng-click="dayToView = 2">2</a>
    <a class="btn btn-default" ng-class="{active: dayToView == 3}" ng-click="dayToView = 3">3</a>
    <button type="button" class="btn btn-default" onclick="window.print()">Print</button>
</h2>

<div ng-repeat="r in results | unique: 'pitch' | filter: {day: dayToView}: true | orderBy: 'pitch'">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%" class="text-right">Pitch {{r.pitch}} :: Day {{dayToView}}</th>
                <th width="3%" class="text-center"><small><span class="glyphicon glyphicon-tag"></span></small></th>
                <th width="3%" class="text-center"><small><span class="glyphicon glyphicon-bell"></span></small></th>
                <th width="3%" class="text-center"><small><span class="glyphicon glyphicon-time"></span></small></th>
                <th width="28%" class="text-right">home</th>
                <th width="15%"></th>
                <th width="28%">away</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in results | filter: {day: dayToView, homeGoals: '!', pitch: r.pitch} : true | orderBy: 'tag' | orderBy: 'dateTime'">
                <td class="text-right">
                    {{result.competition.name}} / {{result.competition.section}}
                    <span ng-show="{{result.competition.group}}">/ G{{result.competition.group}}</span>
                </td>
                <td class="text-center">{{result.tag}}</td>
                <td class="text-center">{{result.dateTime | date:'HH:mm'}}</td>
                <td class="text-center">{{result.duration}}</td>
                <td class="text-right">{{result.homeTeam}}</td>
                <td class="text-center">{{result.homeScore}} - {{result.awayScore}}</td>
                <td>{{result.awayTeam}}</td>
            </tr>
        </tbody>
    </table>
</diV>

