<!-- list of feedback -->
<h3>View Feedback</h3>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" class="form-control" ng-model="searchBy" placeholder="Search feedback..." />
    </div>
</div>

<blockquote ng-repeat="item in feedbackItems|filter: searchBy|orderBy: '-created'">
    <p>{{item.body}}</p>
    <footer class="small">
        {{item.created | date:'EEE HH:mm'}} |
        <a href="mailto:{{item.email}}?subject=Tournament App Feedback">
            <span class="glyphicon glyphicon-envelope"></span> reply to {{item.email}}
        </a> |
        <a href="" ng-click="deleteFeedback(item)"><span class="glyphicon glyphicon-trash"></span> delete</a>
    </footer>
</blockquote>
