{
    "useTabs": false,
    "tabWidth": 4,
    "arrowParens": "always",
    "svelteAllowShorthand": true,
    "semi": true,
    "svelteSortOrder": "scripts-options-markup-styles",
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 132
}
