<div class="container">{{tournament.name}}
    <div class="row">
        <div class="col-md-2">
            competition md-2 sidebar
            <div class="list-group small" id="competitions">
                <a ng-click="$parent.selected = comp"
                   ng-class="{active:selected==comp}"
                   ng-repeat="comp in tournament.competitions"
                   href="#competition/{{comp.name}}/{{comp.section}}"
                   class="list-group-item">
                    {{comp.name}} {{comp.section}}
                </a>
            </div>
        </div>

        <div class="col-md-10">
            main md-10 view
        </div>

    </div>
</div>
