<table class="table table-condensed results">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">pitch</th>
            <th class="text-right">home</th>
            <th colspan="2">
            <th>away</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="result in results">
            <td class="text-center text-muted" width="30px">{{result.tag}}</td>
            <td class="text-center text-muted" width="30px">{{result.pitch}}</td>
            <td class="text-right" width="40%">{{result.homeTeam}}</td>
            <td class="text-center points">{{result.homeScore}}</td>
            <td class="text-center points">{{result.awayScore}}</td>
            <td class="text-left" width="40%">{{result.awayTeam}}</td>
        </tr>
    </tbody>
</table>
