<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-body">
            <h3 view-title>Feedback</h3>
            <div ng-controller="FeedbackController">
                <p>
                    Thanks so much for your feedback - we read all of them and will do our best to respond to
                    as many as possible where appropriate.
                </p>
                <form name="feedbackForm" class="col-sm-11" ng-hide="feedbackSubmitted" class="form-horizontal" role="form" ng-submit="createFeedback()">
                    <div class="form-group">
                        <input type="email" class="form-control" id="feedback-title" ng-model="feedback.email" placeholder="your@email.address" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="feedback-body" ng-model="feedback.body" rows="6" placeholder="Comments..." required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-disabled="feedbackForm.$invalid">Submit</button>
                    </div>
                </form>
                <div ng-show="feedbackSubmitted !== null">
                    <blockquote>
                        {{feedbackSubmitted}}
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
