<!-- Competition group buttons to select an individual comp to watch -->
<div class="container" id="main">
    <div class="row">

        <div class="col-md-7">
            <div class="jumbotron">
                <h1 view-title>{{tournament.name}}</h1>
                <blockquote>
                    <p>{{tournament.description}}</p>
                    <footer>Select a competition below to view results and fixtures</footer>
                </blockquote>
            </div>


            <div id="competitions">
                <div class="btn-group" ng-repeat="comp in tournament.competitions | unique: 'name'">
                    <button type="button" class="btn btn-lg btn-default btn-agegroup dropdown-toggle" data-toggle="dropdown">
                        {{ comp.name }} <span class="small glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="comp2 in tournament.competitions | filter: {name: comp.name}: true">
                            <a ui-sref="results({ name: comp2.name, section: comp2.section })">{{comp2.section}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section ng-show="latestNews.title">
            <div class="col-md-5" ng-controller="NewsListController">
                <div class="page-header">
                    <h2>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        {{latestNews.title}}<br>
                        <small>{{latestNews.created | date:'EEE HH:mm'}}</small>
                    </h2>
                </div>
                <p>{{latestNews.body}}</p>
                <a ui-sref="newsList" href="#">See all announcements..</a>
            </div>
        </section>
    </div>
</div>
