<!-- Competition group buttons to select an individual comp to watch -->
<div class="container" id="main">
    <div class="row">

        <div class="col-md-7">
            <div class="jumbotron">
                <h1>{{tournament.name}}</h1> <p><small>{{tournament.description}}</small></p>
            </div>

            <h3>Select a competition below to view results and fixtures</h3>
            <div id="competitions" class="panel-body">
                <div class="btn-group" ng-repeat="comp in tournament.competitions | unique: 'name'">
                    <button type="button" class="btn btn-lg btn-default btn-agegroup dropdown-toggle" data-toggle="dropdown">
                        {{ comp.name }} <span class="small glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="comp2 in tournament.competitions | filter: {name: comp.name}">
                            <a ui-sref="resultsView({ name: comp2.name, section: comp2.section })">{{comp2.section}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-5" ng-controller="NewsListController">

            <div class="page-header">
                <h1>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Latest Update
                    <small>{{newsItems[0].created | date:'EEE HH:mm'}}</small>
                </h1>
            </div>
            <p>{{newsItems[0].body}}</p>
        </div>

    </div>
</div>
