<!-- list of news items -->
<div class="container" id="allnews">
    <view-title>News</view-title>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-body">
                <h3>Tournament Announcements</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input type="text" class="form-control" ng-model="searchBy" placeholder="Search announcements..." />
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="item in newsItems|filter: searchBy|orderBy: '-created'">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="badge">{{item.created | date:'EEE HH:mm'}}</span>
                                <a toggle-news="" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                                    {{item.title}}
                                </a>
                            </h4>
                        </div>
                        <div class="visible-xs">
                            <div id="collapse{{$index}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{item.body}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs">
                            <div class="panel-body">
                                <p>{{item.body}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-body">
                <h3>
                    Join the conversation!
                    <a href="https://twitter.com/intent/tweet?screen_name=STBGFC&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @STBGFC</a>
                </h3>
                <a class="twitter-timeline"
                   href="https://twitter.com/stbgfc"
                   data-link-color="#a32"
                   data-tweet-limit="5"
                   data-chrome="noscrollbar noheader">#stbgfc Tweets</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

    </div>
</div>
