<!-- list of news items -->
<div class="container" id="allnews">
    <view-title>News</view-title>

    <div class="panel panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab">Tweets</a></li>
            <li role="presentation"><a href="#announcements" aria-controls="announcements" role="tab" data-toggle="tab">Announcements</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="twitter">
                <p class="noresults"></p>
                <h1>Join the conversation!</h1>

                <a href="https://twitter.com/intent/tweet?screen_name=STBGFC&ref_src=twsrc%5Etfw" 
                    class="twitter-mention-button"
                    data-size="large"
                    data-show-count="true">
                    Tweet to @STBGFC
                </a>
                <a class="twitter-timeline"
                    href="https://twitter.com/stbgfc"
                    data-link-color="#a32"
                    data-tweet-limit="5"
                    data-chrome="noscrollbar noheader">
                    #stbgfc Tweets
                </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>                
            </div>

            <div role="tabpanel" class="tab-pane" id="announcements">
                <p class="noresults"></p>
                <h1>Tournament Announcements</h1>
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input type="text" class="form-control" ng-model="searchBy" placeholder="Search announcements..." />
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="item in newsItems|filter: searchBy|orderBy: '-created'">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="badge">{{item.created | date:'EEE HH:mm'}}</span>
                                <a toggle-news="" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                                    {{item.title}}
                                </a>
                            </h4>
                        </div>
                        <div class="visible-xs">
                            <div id="collapse{{$index}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{item.body}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs">
                            <div class="panel-body">
                                <p>{{item.body}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>             

</div>
