/*
 * variables imported into all components 
 */

// font colour
$emphasis-colour: #a00;

// main panel bg colour
$primary-bg-colour: white;

// bg colour for table headings etc.
$contrast-bg-colour: #333;

// font colour for the contrast backgrounds
$contrast-fg-colour: whitesmoke;

// panels on competition views
$panel-bg-colour: rgba(255,255,255,0.9);

// team highlight fg colour
$team-highlight-fg-colour: blue;
